@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

:root {
  --max-width: 100vw;

  --yellow: #FED41D;
  --red: #EE2526;
  --blue: #29378B;

  --white: #fffff1;
  --black: #111111;

  --snickers: #663300;
  --available: #008163;
  --designated: #231EC6;

  --cooblue: #D7EFFF;
  --plumnoir: #351E28;
  --persimmon: #FF5C34;
  --jade-on-paper: #AEB8A0;
  --wasabi: #E9F056;

  --space-mono: 'Space Mono', monospace;
  --ibm-plex-sans: 'IBM Plex Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'IBM Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
