.main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 2;
}

.info {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 75px;
  display: flex; 
  justify-content: space-between; 
  z-index: 1000;
  /* background-color: var(--white);
  border-bottom: 2px solid var(--black); */
  padding: 20px 10px;
  align-items: center;
}

.cta {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.cta button {
  background-color: var(--yellow);
  color: var(--black);
  height: 2em;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: 800;
  padding: 10px 15px;
}

.separator {
  font-family: monospace;
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
  z-index: 1000;
}

@media (max-width: 700px) {
  .info {
   max-height: 20px;
  }

  .cta button {
    transform: translateY(50vh);
  }
  
}

@media (min-width: 701px) and (max-width: 1120px) {

}