.buttonContainer {
    position: fixed;
    bottom: 50px;
    right: 10px
}

.button {
    position: relative;
    display: inline-flex;
    height: 4rem; /* h-12 */
    width: 4rem; /* w-12 */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px; /* rounded-full */
    font-weight: 900; /* font-medium */
    transition: all 0.3s; /* duration-300 */
    background-color: var(--yellow);
    color: var(--white);
    border: dashed 2px var(--white);
}

.button:hover {
    width: 9rem; /* hover:w-32 */
}

.hoverText {
    font-size: large;
    display: inline-flex;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.2s; /* duration-200 */
    transform: translateX(0);
}

.button:hover .hoverText {
    transform: translateX(-0.75rem);
    opacity: 1;
}

.button:hover .iconContainer {
    transform:translateX(2rem);
}

.iconContainer {
    position: absolute;
    transition: all 0.2s;
}

.popup {
    position: fixed; /* Change to fixed to center in viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    width: 30vw;
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 100);
    z-index: 10;
}

.popup p {
    padding: 10px 0px;

}

.menubar {
    height: 50px;
    width: 100%;
    padding: 0.25rem 1rem;
    border-bottom: 2px solid var(--black);
}

.popupBody { 
    padding: 1rem;
}

.cta button {
    background-color: var(--yellow);
    color: var(--black);
    height: 2em;
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 800;
    padding: 10px 15px;
}

@media (max-width: 700px) {
    .popup {
        width: 60vw;
    }
}